*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: 0.60fr 1fr 1fr 1fr;
    grid-template-rows: .25fr 1.5fr 1.2fr 0.2fr;
    min-height: 100vh;
    grid-template-areas: "sidebar nav nav nav" "sidebar main main main" "sidebar main main main" "sidebar main main main";
}
.img-logo{
    height: 50px;
    margin-left:10px;
}
.sidebar{
    background: #2B2D37;
    grid-area: sidebar;
}
.sidebar > .ul-list, .ul-list>li>a>span{
    color: #BCBCBC;
}

.ul-list>li:hover{
    background: #bcbcbc33;
    color: #FFFFFF;
}
.ul-list>li.active{
    background: #bcbcbc33;
    color: #FFFFFF;
}
.ul-list>li>a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav{
    grid-area: nav;
    background: #FFFFFF;
    border-bottom: 1px solid #C7CBD4;
}
.main{
    grid-area: main;
    background: #F8FAFB;
}
.inner-card.active{
    display: none;
}
@media (min-width: 768px) {
    .img-logo{
        height: 70px;
    }
    .ul-list>li>a{
        justify-content: start;
    }
}